.table {
	width: 100%;
	max-height: 650px;
	margin-top: 20px;
}

table tbody {
	overflow-y: scroll;
}

table {
	width: 100%;
	height: 100%;
	background: #0d1117;
	border: 1px solid #8f959d;
	color: #e6e6e6;
	border-radius: 6px;
	padding: 20px;
}

table td {
	border: none;
	font-size: 16px;
	padding: 5px 20px 5px 20px;
	border-bottom: 1px solid rgb(180, 180, 180);
}

table tr {
}

.table_wrapper {
	display: flex;
	margin-bottom: 30px;
}

.filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filter button {
	width: 264px;
	height: 25px;
	font-size: 16px;
	margin: 5px;
	border: none;
	color: #ddefe0;
	border-radius: 3px;
	background-color: #2ea043;
	transition: 0.1s all;
	display: flex;
	align-items: center;
}
.filter button:hover {
	background-color: #34b64c;
	cursor: pointer;
}
.filter button:active {
	scale: 0.95;
}

.filter input {
	margin: 12px 0;
	height: 26px;
	width: 399px;
	border-radius: 5px;
	border: none;
	padding: 7px;
	font-size: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sort_icon {
	width: 20px;
	height: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.sort_icon-text {
	margin-left: 56px;
}

.sort_icon .line {
	background-color: #fff;
	height: 3px;
	transition: 0.2s all;
}

.sort_icon .line-top {
	width: 15px;
}
.sort_icon .line-middle {
	width: 15px;
}
.sort_icon .line-bottom {
	width: 15px;
}

.report {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 120px;
}

.listOfZones {
	color: #fff;
	list-style-type: none;
	cursor: pointer;
}

.noVision {
	display: none;
}

.report input {
	margin: 0px 0;
	height: 20px;
	width: 150px;
	border-radius: 5px;
	border: none;
	padding: 7px;
	font-size: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}
.report select {
	margin: 0px 0;
	height: 20px;
	width: 150px;
	border-radius: 5px;
	border: none;
	padding: 3px;
	font-size: 14px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

.reportTime {
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.report button {
	width: 155px;
	height: 25px;
	font-size: 16px;
	margin: 5px;
	border: none;
	color: #ddefe0;
	border-radius: 3px;
	background-color: #2ea043;
	transition: 0.1s all;
	display: flex;
	align-items: center;
	justify-content: center;
}
.report button:hover {
	background-color: #34b64c;
	cursor: pointer;
}
.report button:active {
	scale: 0.95;
}
