.wrapper {
	color: #fff;
	margin-top: 20px;
	position: relative;
	height: 600px;
	display: flex;
	justify-content: flex-start;
	width: 1067px;
}

.btnTitle {
	margin-top: 0px;
	border: none;
	color: #ddefe0;
}
.vacation_date {
	margin: 5px 0;
}
.sick_date {
	margin: 5px 0;
}
.onec {
	width: 800px;
	margin-left: 50px;
	overflow-y: scroll;
}
.onec::-webkit-scrollbar {
	width: 7px; /* ширина scrollbar */
}
.onec::-webkit-scrollbar-track {
	background: transparent; /* цвет дорожки */
}
.onec::-webkit-scrollbar-thumb {
	background-color: rgb(175, 175, 175); /* цвет плашки */
	border-radius: 20px; /* закругления плашки */
	border: none; /* padding вокруг плашки */
}
.onec_header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #242b36;
}
.onec_body {
	display: flex;
	flex-direction: column;
}
.onec_limb {
	display: flex;
}
.column_name,
.column_surname,
.column_vacations,
.column_sick {
	width: 200px;
	border: 1px solid rgb(152, 152, 152);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
