@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
	margin: 0;
	background: #010409;
	font-family: 'PT Sans Narrow', sans-serif;
}

.App {
	max-width: 1350px;
	padding-top: 87px;
	margin: 0 auto;
	position: relative;
}

h2 {
	color: #ddefe0;
}

.firstColumn {
	width: 300px;
}

.secondColumn {
	width: 500px;
}
